---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # renovate: registryUrl=https://metallb.github.io/metallb chart=metallb
  - https://github.com/metallb/metallb//config/crd/?timeout=120&ref=v0.15.2
