<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "https://raw.githubusercontent.com/lathiat/avahi/master/avahi-daemon/avahi-service.dtd">
<service-group>
    <name>HASS Bridge</name>
    <service protocol="ipv4">
      <type>_hap._tcp</type>
      <host-name>homekithap.${BASE_DOMAIN}</host-name>
      <port>21064</port>  
      <txt-record>md=HASS Bridge</txt-record>
      <txt-record>pv=1.0</txt-record>
      <txt-record>id=98:13:79:79:B6:71</txt-record>
      <txt-record>c#=7</txt-record>
      <txt-record>s#=1</txt-record>
      <txt-record>ff=0</txt-record>
      <txt-record>ci=2</txt-record>
      <txt-record>sf=1</txt-record>
      <txt-record>sh=Mr3BrA==</txt-record>
    
      <!-- friendly name -->
      <!-- <txt-record>md=$name</txt-record> -->
      <!-- HAP version -->
      <!-- <txt-record>pv=1.0</txt-record> -->
      <!-- MAC -->
      <!-- <txt-record>id=${mac_address}</txt-record> -->
      <!-- Current configuration number -->
      <!-- <txt-record>c#=2</txt-record> -->
      <!-- accessory category -->
      <!-- <txt-record>ci=${accessory_category}</txt-record> -->
      <!-- accessory state
            This must have a value of 1 -->
      <!-- <txt-record>s#=1</txt-record> -->
      <!-- Pairing Feature Flags
           nothing to configure -->
      <!-- <txt-record>ff=0</txt-record> -->
      <!-- Status flags
           0=not paired, 1=paired -->
      <!-- <txt-record>sf=1</txt-record> -->
      <!-- setup hash (used for pairing).
           Required to support enhanced
           setup payload information (but
           not defined in the spec)        -->
      <!-- <txt-record>sh=$(echo -n ${setup_id}${mac_address} | openssl dgst -binary -sha512 | head -c 4 | base64)</txt-record> -->
      <!-- from tcpdump -vvv -->
        <!-- 0q] 4/0/0 _hap._tcp.local. PTR  79B671._hap._tcp.local., HASS Bridge 79B671._hap._tcp.local. (Cache flush) SRV HASS Bridge 79B671._hap._tcp.local.:21064 0 0, HASS Bridge 79B671._hap._tcp.local. (Cache flush) TXT  -->
        <!-- , HASS Bridge 79B671._hap._tcp.local. (Cache flush) A 10.42.2.34 (188) -->
    </service>
  </service-group>
